// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.nav_item {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
.navbar-header {
  height: 80px;
}
body {
  padding-top: 100px;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
#logo {
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 1.2em;
  color: #777;
  font-weight: normal;
  margin-bottom: 30px;
}
.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-top: 10px;
}

.chef-info {
  margin-top: 13px;
}

.gravatar {
  border-radius: 5px;
}

.well {
  background-color: #ededed;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px;
}